*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

/* 
.accordion{
  width: 700px; 
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item{
  display: grid;
  grid-template-columns: auto 1fr auto;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number, .text{
  font-weight: 500;
  font-size: 24px;
}

.number{
  color: #ced4da;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p{
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin-left: 20px;
}

.arrow-icon{
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

/* OPEN STATE */

/* .open{
  border-top: 4px solid #087f5b;
}
.open .hidden-box{
  display: block;
}

.open .number, .open .text{
  color:#087f5b;
}  */


/* 02 CARROUSEL 

.carrousel{
  width: 800px;
  margin: 100px auto;
  background-color: #087f5b;
  border-radius: 8px;
  /* padding: 32px;
  padding-left: 86px;
  padding-right: 48px; 

  padding: 32px 48px 32px 86px;

  position: relative;

  display: flex;
  align-items: center;
  gap: 86px;
}

img{
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12 24px rgb(0,0,0, 0.3);
}

.testimonial-text{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author{
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.testimonial-work{
  font-size: 12px;
  color: #c3fae8;
}

.btn{
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}


.btn--left{
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);
}

.btn--right{
  right: 0;
  top: 50%;
  transform: translate(50%,-50%);
}


.btn-icon{
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.dots{
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 32px);
  
  display: flex;
  gap: 12px;
}

.dot{
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  cursor: pointer;
  border-radius: 50%;
}

.dot--fill{
  background-color: #087f5b;
}  */


